<!DOCTYPE html>

{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About
{% endblock %}

{% block body_block %}
<div>

    <h1>About Page</h1>
    <div>
        This tutorial bas been made by Oliver Reiff-Musgrove
    </div>
    <div>
        <img src="{% static "images/beans.jpg" %}" alt="Picture of Beans" />
        <img src="{{ MEDIA_URL }}cat.jpg" alt="Picture of Cat"/> 
    </div>

</div>
<div>
    <p>visits: {{ visits }}</p>
</div>

{% endblock %}
</html>





<!-- Pre Chapter 8.3
{% load staticfiles %}
<html>
    <head>
        <title>About</title>
    </head>

    <body>
        <h1>About</h1>
        <div>
            This page contains a static and media file <br />
            <strong>{{ boldmessage }}</strong><br />
        </div>
        <div>
            <a href="/rango/">Index</a><br />
            <img src="{% static "images/beans.jpg" %}" alt="About us" />
            <img src="{{ MEDIA_URL }}cat.jpg" /> 
        </div>
    </body>

</html>
-->
